.todosListTable {
  margin: 20px;
  padding: 10px;
}
.todoListTitle {
   text-align: center;
   border-bottom: 2px solid rebeccapurple;
}

.deletedMessage {
  text-align: center;
  color: green;
  padding: 10px;
}

.todoListTable {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }

  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }

  tr:nth-child(even) {
    background-color: #dddddd;
  }

  .noTodsMessage {
    text-align: center;
  }

  .deleteTodoButton {
    padding : 5px;
    background-color: black;
    color : white;
    margin : 7px;
    outline: none;
    border-radius: 10px;
    width: 100px;
  }
.viewDetailsTodoButton {
    padding : 5px;
    margin : 7px;
    outline: none;
    border-radius: 10px;
    width: 100px;
    text-decoration: none;
    text-align: center;
  }

  .resetTodos {
    color: rgba(58, 58, 166, 0.76);
  }
