<app-search-todo [searchTodoTitle]="'Search for todos'" [todos] = "todos" (searchStringEvent) = "filterTodos($event)"></app-search-todo>
<div *ngIf="todos.length > 0; else noTodos" class="todosListTable">
  <h3 class="todoListTitle">All of your todos</h3>
  <span class="deletedMessage" *ngIf="deletedMessage">{{deletedMessage}}</span>
  <table class="todoListTable">
    <thead>
       <th>Name</th>
       <th>Date Created</th>
       <th>status</th>
       <th>Action</th>
    </thead>
    <tr *ngFor="let todo of todos">
        <td>{{todo.name}}</td>
        <td>{{todo.dateCreated}}</td>
        <td>{{todo.status}}</td>
        <td><button type="button" (click)="deleteTodo(todo.id)" class="deleteTodoButton">Delete</button></td>
    </tr>
   </table>
</div>

<div>
  <ng-template #noTodos>
    <h3 class="noTodsMessage">There are no todo items on the list. Please add some.</h3>
  </ng-template>
</div>
