.myTodoForm {
  text-align: center;
  margin: auto;
  background-color: gray;
  color: black;
  padding: 10px;
}

.myTodoForm input {
  padding : 7px;
  outline: none;
  border: none;
}

/* automatically given by angular, can be inspected or via docs */
input[name='todoSearchString'].ng-invalid.ng-touched {
  border: 1px solid orange;
}

.invalid-form {
  color: orangered;
  font-style: italic;
}
