<!-- "Template driven form" -->
<!--In this method, the conventional form tag is used to create forms. Angular automatically interprets and creates a form object representation for the tag.-->
<!--Controls can be added to the form using the ngModel tag. Multiple controls can be grouped using the NGControlGroup module.-->
<!--By adding the 'ngModel' directive in the input tag, form controls are added to every input field.-->
<!-- To generate the JavaScript Representation, another directive called NgForm is assigned to a template variable., here myNgTodoForm is template variable.  -->
<!-- https://www.simplilearn.com/tutorials/angular-tutorial/angular-forms#types_of_angular_forms -->
<!-- #myNgTodoForm is the local reference syntax, this is accessible in all locations in this template. -->
<!-- <ng-content></ng-content> is used to get what is passed in between opening and closing tag of the component.
 By default in angular content inside is lost, <ng-content></ng-content> can get value inside of the component tags. -->

<form #myNgTodoForm="ngForm" (ngSubmit)="onClickSubmit(myNgTodoForm)" class="myTodoForm">
    <h3>{{searchTodoTitle}}</h3>
    <p style="color: blue;"><ng-content></ng-content></p>
    <hr>
    <input type="text" name="todoSearchString" placeholder="Enter Status to search"
           required #todoSearchInput [(ngModel)]="todoSearchString">
    <input type="submit" value="submit" [disabled]="!myNgTodoForm.valid" > <br>
    <button type="button" (click)="setCriticalStatus()"
            style="width: 250px; background: orange; color: white;">Set critical status
    </button><br>
    <span class="invalid-form" *ngIf="!myNgTodoForm.valid && myNgTodoForm.touched; else elseBlock">** Please, fill the required fields **</span>
</form>

 <ng-template #elseBlock>
   <span style="color: yellowgreen;" *ngIf="todoSearchString">You typed : {{ todoSearchString }}</span> <br>
 </ng-template>
