
<style>
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 8px 0;
  }

  /* Responsive Styles */
  @media screen and (max-width: 575px) {
    /* nothing here now. */
  }
</style>
 

<div class="content" role="main">
    <h1>Replace with navbar component</h1>
</div>

<div class="content" role="main">
  <h3>Replace with Form component</h3>
</div>

<div class="content" role="main">
  <h5>Replace with button component</h5>
</div>

<div class="content" role="main">
  <h6>Replace with todo list component</h6>
</div>

<router-outlet></router-outlet>
