<mat-toolbar>
    <div class="navbar">
        <div class="appLogo" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Amigo's Ng App</div>
         <div class="navbarMenus">
            <span routerLink="/fetch/users" routerLinkActive="active">Fetch Users[API]</span>
            <span [routerLink]="'/about/app'" routerLinkActive="active">About App</span>
            <span [routerLink]="['/about/developer']" routerLinkActive="active">Developer</span>
         </div>
    </div>
</mat-toolbar>
