<div class="card aboutDeveloper">
  <img src="../../assets/images/about-developer.png" class="card-img-top" alt="About App">
  <div class="card-body">
    <router-outlet></router-outlet>
    <h5 class="card-title">About Developer</h5>
    <p class="card-text">This application is built by Software Developer, Badri Paudel.</p>
    <p class="card-text">Skills : Java, Groovy, Grails, Spring / Spring Boot, Javascript, Android</p>
    <span routerLink="./address" class="btn btn-success mb-10">Developer Address</span>
    <span routerLink="/" class="btn btn-success">Explore App</span>
  </div>
</div>
