.aboutDeveloper {
  width: 400px;
  min-height: 300px;
  background-color: rgba(128, 128, 128, 0.47);
  margin: 100px auto;
}
.aboutDeveloper h4 {
  text-align: center;
}

.aboutDeveloper .btn {
  width: 100%;
}

.aboutDeveloper img {
  height: 200px;
  width: 50%;
  margin: auto;
}

.mb-10 {
  margin-bottom: 10px;
}
