<div class="counter-container">
  <br>
  <h6>This Counter is to demonstrate angular and ngrx usage.</h6>
  <div class="counter">
    <button class="btn increment-btn" (click) ="incrementCount();">Increment</button>
    <button class="btn decrement-btn" (click)="decrementCount();">Decrement</button>
    <button class="btn reset-btn" (click)="resetCount();">Reset</button>
    <button class="btn api-effect" (click)="callApiUsingDispatch();">Make Request(Dispatch)</button>
  </div>

  <div class="counter">
    <span> Current value of the counter is : <h5> {{ count$ | async }}</h5></span>
  </div>
  <hr>
  <br>

  <h4>Current data from api : </h4>
  <hr>
  <div></div>
  <div *ngIf="(users$ | async)?.loading">
    <span>Please wait while data is loading ... </span>
  </div>

  <div *ngIf="!(users$ | async)?.loading">
      <div *ngFor="let user of  (users$ | async)?.usersData">
        <span>{{ user | json }}</span> <br>
        <hr>
      </div>
  </div>

</div>
