body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #f5f5f5;
}

.counter-container {
  text-align: center;
}

.counter {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.btn {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  margin: 0 10px;
}

.increment-btn {
  background-color: #4caf50;
  color: white;
}

.reset-btn {
  background-color: #f44336;
  color: white;
}
.decrement-btn {
  background-color: #7d9486;
  color: white;
}

.api-effect {
  background-color: #89b940;
  color: whitesmoke;
}

h1 {
  color: #333;
}
