<h4 class="fetchUserHeading">{{heading}}</h4> <hr>

<h3 *ngIf="!(users.length >0)" class="isUsersLoading">
  <i class="fa fa-cog fa-spin"></i>
</h3>

<div *ngIf="errorMessage" class="userFetchingError"> {{errorMessage}}</div>

<table class="usersTable" *ngIf="(users.length >0)">
  <thead>
     <th>ID</th>
     <th>Name</th>
     <th>Username</th>
     <th>Email</th>
     <th>Address</th>
  </thead>
  <tr *ngFor="let user of users">
    <td>{{user.id}}</td>
    <td>{{user.name}}</td>
    <td>{{user.username}}</td>
    <td>{{user.email}}</td>
    <td>{{user.address.city}}, {{user.address.street}}, {{user.address.zipcode}} ({{user.address.geo.lat}})</td>
  </tr>
</table>
